*
!.gitignore
!.config/terminite/
!.Xresources
!.xinitrc
!.zshrc
!.zprezto/runcoms/zshrc
!.i3/

!.vimrc
!_vimrc
!.config/
!.config/nvim/
!.config/nvim/**
!.config/kitty/
!.config/kitty/**
!.config/yabai/
!.config/yabai/**
!.config/skhd/
!.config/skhd/**
!.config/karabiner/
!.config/karabiner/**
